<div class="container-fluid authenticaiton" id="auth">
    <div>
        <div class="row">
            <div id="buttons">
                <button class="btn btn-primary" id="loginModalButton" ng-click="showLogin()">
                    Login
                </button>
                <br/>
                <br/>
                <br/>
                <button class="btn btn-primary" id="registerModalButton" ng-click="showRegister()">
                    Register
                </button>
            </div>
        </div>
    </div>
</div>