/*--- Global ---*/
.active {
    color: white !important;
    background:#555 !important;
    box-shadow: 0 0 15px white;
    text-shadow: 2px 2px 5px black;
}

body{
    background-color:#555;
    overflow-x: hidden;
    
}

ol ul{
    list-style:none;
}

.well {
    background-color: #000;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
    border: none;
}

/*--- Home ---*/
#auth {
    background: url(../img/vinyl-record.jpg) no-repeat center center fixed; 
    background-color: rgba(100,100,100,.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
}

#buttons {
    position: fixed;
    top: 42.7%;
    left: 47.5%;
    text-align: center;
}

/*--- Modal ---*/
.modal-footer #message {
    color: red;
}

/*--- Playlist ---*/
#cog{
    margin-top: -.23em;
    font-size: 2em;
    color: white;
    text-decoration: none;
}

.controls{
    font-size: 2em;
    color: white;
    padding: .25em .5em 0 .5em;
    text-align: center;
    text-decoration: none;
}

.controls:hover{
    cursor: pointer;
    text-shadow: 0 0 4px white;
}

.edit-glyphs{
    font-size:1.5em;
    margin-top: -.25em;
}

.edit-glyphs:hover {
    cursor: pointer;
    text-shadow: 0 0 4px white;
}

.glyphicon-remove{
    color:#e33;
}

.glyphicon-save{
    color:#33e;
}

.main:before {
    z-index: -1000;
    background: url("turntableBackground.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 150em;
    height: 150em;
    position: absolute;
    content: '';
    margin-left: -29em;
    margin-top: -75em;
    -webkit-animation: spinZ 3s ease;
}

#playlist-list{
    padding: 1em;
    max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
}

#playlist-list li{
    font-size:1em;
    padding:.25em 1em;
    line-height:1em;
    color: black;
}

#playlist-list-header{
    padding:0.4em;
    padding-left: 2em;
    margin-bottom:0.4em;
    margin-top: 0em;
    max-height:50px;
    min-height:50px;
    color: white;
}

#songlist-header{    
    padding:0.4em;
    padding-left: 2.5em;
    margin-bottom:0.4em;
    margin-right: 2em;
    margin-left: -1.5em;
    margin-top: 0em;
    max-height:50px;
    min-height:50px;
    color: white;
}

#songlist ol li:hover, #playlist-list ul li:hover{
    cursor:pointer;
    padding-left:0.5em;
    color: white;
}

#songlist ol li:hover {
    box-shadow: 0 0 5px #999;
}

#songlist{
    padding: 1em;
    max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
    margin-bottom: 5.5em;
    margin-left: -1.5em;
    margin-right: 2em;
    color: white;
}

/*--- Record ---*/

@-webkit-keyframes spinZ{
    0% {-webkit-transform: rotateZ(0deg); -webkit-transform-origin: 50% 50% 0;}
    100% {-webkit-transform: rotateZ(720deg); -webkit-transform-origin: 50% 50% 0;}
}

/*--- Video ---*/

.video-container{
    position: relative;
    height: 0;
    overflow: hidden;
    padding-bottom: 56.25%;
    padding-top: 35px;
    margin-bottom: -16%;
}

#vidFrame{
    position: absolute;
    top: 3%;
    left: 16.5%;
    width: 67%;
    height: 67%;
}