/*       Global      */
body{
    background-color:#555   
}

.well {
	background-color: #ddd;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);
}

.glyphicon {
    padding-bottom:2px;
    color:#;
}

/*--- Home ---*/
#auth {
    background: url(../img/vinyl-record.jpg) no-repeat center center fixed; 
    background-color: rgba(100,100,100,.5);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
}

#buttons {
    position: fixed;
    top: 42.7%;
    left: 47.5%;
    text-align: center;
}

.homeButtons {
    background-color: red;
}

/*--- Modal ---*/
.modal-footer #message {
    color: red;
}

/* Playlist */
#cog{
    margin-top: -.2em;
    font-size: 2em;
}

.controls{
    font-size: 2em !important;
    color: white !important;
    padding: .25em .5em 0 .5em;
    text-align: center;
    text-decoration: none !important;
}

.controls:hover{
    cursor: pointer;
    text-shadow: 0 0 3px white;
}

#songlist{
    padding: 1em;
    max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
    margin-bottom: 5.5em;
}

#songlist ol li:hover, #playlist-list ul li:hover{
    cursor:pointer;
    padding-left:0.5em;
    background-color:#999;
}

#playlist-list{
    padding: 1em;
    max-height: 20em;
    min-height: 20em;
    overflow-y: auto;
    margin-right:0.75em;
    margin-bottom: 5.5em;
}

#playlist-list li{
    font-size:1em;
    padding:.25em 1em;
    line-height:1em;
}

#playlist-list-header{
    padding:0.4em;
    padding-left: 2em;
    margin-bottom:0.4em;
    margin-right:0.75em;
    max-height:50px;
    min-height:50px;
}

.navbar{
    
}

#songlist-header{    
    padding:0.4em;
    padding-left: 2em;
    margin-bottom:0.4em;
    max-height:50px;
    min-height:50px;
}

#spinny{
    background: url(../img/vinyl-record.jpg) no-repeat center center fixed; 
}

.glyphicon{
    font-size:1.5em;
}

.glyphicon-remove{
    color:#e33;
}

.glyphicon-save{
    color:#33e;
}

.glyphicon-cog{
    font-size:2em;
}

#vidFrame{
    display: block;
    margin: auto;
    margin-bottom: 2em;
}
