<div class="container">
    
    <div class="">
        
    </div>
    
     <div class="row">        
        <div class="col-md-3 col-md-offset-2 well" id="playlist-list-header"> 
                <h4>Playlist List</h4>
                <span class="glyphicon glyphicon-plus pull-right" ng-click="addPlaylist()"></span>
                <span class="glyphicon glyphicon-pencil pull-right" ng-click="editPlaylistList()" ng-hide="isEditingPlaylistList"></span>
                <span class="glyphicon glyphicon-floppy-disk pull-right" ng-click="savePlaylistList()" ng-show="isEditingPlaylistList"></span>
        </div>
        <div class="col-md-5 well" id="songlist-header">
                <h4>Song List</h4>
                <span class="glyphicon glyphicon-plus pull-right" ng-click="addSong()" ></span>
                <span class="glyphicon glyphicon-pencil pull-right" ng-click="editSongs()" ng-hide="isEditingSongs"></span>
                <span class="glyphicon glyphicon-floppy-disk pull-right" ng-click="saveSonglist()" ng-show="isEditingSongs"></span>
        </div>
    </div>
    
    
    <div class="row" >
        
        <!-- Show/Edit Playlist List -->
        <div class="col-md-3 col-md-offset-2 well" id="playlist-list" ng-hide="isEditingPlaylistList">
            <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
              <li class="active" class="btn btn-block btn-primary" ng-repeat="playlist in playlistList" ng-click="selectPlaylist(playlist)"><a href="#vtab1" data-toggle="tab">{{playlist.name}}</a></li>
            </ul>            
        </div>       
        
        <div class="col-md-3 col-md-offset-2 well" id="playlist-list" ng-show="isEditingPlaylistList"> 
            <ol>
                <li ng-repeat="playlist in playlistList">
                    <div class="form-group">
						<input type="text" class="form-control" ng-model="playlist.name" placeholder="Name">
					</div>
                    <span class="glyphicon glyphicon-remove" ng-click="removePlaylist(playlist)" ng-show="isEditingPlaylistList"></span>
                </li>
            </ol>
        </div>
        <!--  -- - - - - -  -->
        
        <!-- Show/Edit Songlist -->
        <div class="col-md-5 well" id="songlist" ng-hide="isEditingSongs">
            <ol>
                <li ng-repeat="song in songs">{{song.name}}</li>                
            </ol>
        </div>
        
        <div class="col-md-5 well" id="songlist" ng-show="isEditingSongs">
            <ol>
                <li ng-repeat="song in songs">
                    <div class="form-group">
						<input type="text" class="form-control" ng-model="song.name" placeholder="Name">
					</div>
                    <div class="form-group">
						<input type="text" class="form-control" ng-model="song.url" placeholder="Url">
					</div>
                    <span class="glyphicon glyphicon-remove" ng-click="removeSong()" ng-show="isEditingSongs"></span>
                </li>                
            </ol>
        </div>
        <!----- - - -  -- - -- - -- - -->
    </div>
    
    <div class="row pull-bottom" id="control-bar">
        <div class="col-sm-3 col-md-offset-3 text-center">
            Controls
        </div>
        <div class="col-xs-1 pull-right">
            Cog
        </div>
    </div>

</div>